.route__wrapper{
    display: flex;
    align-items: center;
    gap: 25px;
}

.breadcrumbs__wrapper{
    display: flex;
    margin-left: 50px;
    gap: 5px;
}

.path__headline{
    margin-top: 5px;
    margin-bottom: 5px;
}