.header__position{
    padding-left: 15px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #e7e4e6;
}

.navbar__position{
    padding-left: 15px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #e7e4e6;
}

.table__wrapper{
    margin-top: 20px;
    margin-left: 20px;
}