.header__position{
    padding-left: 15px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #e7e4e6;
    background: #FFFFFF;
    h2{
        color: #3D3D3D;
        font-family: sans-serif;
    }
}

.navbar__position{
    padding-top: 10px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #e7e4e6;
    background: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}

.table__wrapper{
    margin: 25px 0 20px 0;
    border: 1px solid #DED8E8;
    border-radius: 6px;
    background: #FFFFFF;

}

.table__filter__container{
    background: #f7f7f7;
    margin-top: 20px;
    margin: 15px;
}